@import "/css/normalize.css";
/*Blocks*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.nav-wrapper {
  padding-top: 90px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav__link {
  letter-spacing: 0.3px;
  color: #8f8f8f;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 70px;
  text-decoration: none;
}
.nav__link:active, .nav__link:hover, .nav__link:focus, .nav__link--active {
  color: #111;
}
.nav__link:last-child {
  margin-right: 0;
}

.header-content {
  padding-top: 210px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header-wrapper {
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

.header-item {
  text-align: center;
  margin-top: 220px;
}
.header-item__text {
  font-size: 70px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.57px;
}
.header-item__subtext {
  color: #c2c2c2;
  margin: 25px auto 0 auto;
  max-width: 700px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06px;
}

.review {
  width: 260px;
}
.review__title {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.review-item {
  margin-top: 30px;
  border-bottom: 1px solid #c1c1c1;
  position: relative;
}
.review-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: -18px;
  z-index: -1;
  background: url("/image/koma.svg") no-repeat center;
  display: block;
  width: 36px;
  height: 29px;
}
.review-item__text {
  color: #a0a0a0;
  font-style: italic;
  line-height: 1.9;
}
.review-item__author {
  line-height: 1.9;
  padding: 10px 0 15px 0;
  color: #111;
  font-weight: 800;
}
.review-item__author:before {
  content: "- ";
}

.video {
  width: 280px;
}
.video__title {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.video-item {
  overflow: hidden;
  position: relative;
  margin-top: 35px;
}
.video__play {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: #fff;
  position: relative;
  transition: ease 1s;
}
.video__play:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -5.5px;
  display: block;
  width: 0;
  height: 0;
  border-top: 5.5px solid transparent;
  border-left: 8px solid #000;
  border-bottom: 5.5px solid transparent;
}
.video__play:hover {
  transform: translateY(-10px) rotate(360deg);
}

.video-center {
  position: relative;
}

.video-center img {
  width: 100%;
}

.video-item .video__play {
  position: absolute;
  left: -10px;
  bottom: -15px;
}

.video-center .video__play {
  position: absolute;
  left: 28px;
  bottom: 32px;
}

.title {
  text-align: center;
  letter-spacing: 0.6px;
  font-size: 50px;
  font-family: "Playfair Display", serif;
}

.wrapper {
  max-width: 1050px;
  margin: 0 auto 0 auto;
}

.instructors {
  margin-bottom: 220px;
}
.instructors__title {
  padding: 220px 0 100px 0;
}
.instructors-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.instructors-items__item {
  transition: ease 0.3s;
  width: 27.8%;
}
.instructors-items__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px 0 #686868;
}
.instructors-items__photo {
  text-align: center;
}
.instructors-items__photo img {
  width: 100%;
}
.instructors__name {
  padding-top: 30px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 30px;
}
.instructors__count {
  margin: 20px 0 20px 0;
  text-align: center;
  color: #38bc45;
  font-weight: 600;
  text-decoration: underline;
}

.recent .recent-block {
  display: flex;
  margin: 100px 0 180px 0;
}
.recent .recent-block__left {
  width: 50%;
}
.recent .recent-block__photo img {
  width: 100%;
  transition: ease 0.5s;
}
.recent .recent-block__photo img:hover {
  transform: scale(1.05);
}
.recent .recent-block__right {
  padding: 40px 0 0 70px;
  width: 50%;
}
.recent .recent-block__head {
  font-size: 35px;
}
.recent .recent-block__sometext {
  margin-top: 35px;
  font-size: 16px;
  line-height: 1.6;
  color: #888888;
}
.recent .recent-block__btn {
  margin-top: 60px;
  border: 1px solid #e5e5e5;
  padding: 20px 30px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 900;
  transition: ease 0.8s;
}
.recent .recent-block__btn:hover, .recent .recent-block__btn:focus, .recent .recent-block__btn:active {
  transform: scale(1.2);
  box-shadow: 0 0 10px 0 #888888;
}

.recent-block__right:nth-child(1) {
  padding: 0;
  font-style: italic;
}

.app__title {
  margin-top: 270px;
}
.app__button {
  margin: 85px 0 145px 0;
  text-align: center;
}
.app__btn {
  padding: 25px 45px;
  border: 1px solid #000;
  background-color: transparent;
  transition: ease-out 0.5s;
}
.app__btn:hover, .app__btn:focus, .app__btn:active {
  box-shadow: inset 0 0 10px 0 #888888;
}

.footer {
  max-width: 100%;
  height: 140px;
  border-top: 1px solid #c1c1c1;
}
.footer-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-text {
  color: #000000;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 400;
  line-height: 19.09px;
}
.footer-subtext {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}