.header-content{
    padding-top: 210px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    

}
.header-wrapper{
    max-width: 1440px;
    margin: 0 auto 0 auto;
    
    
}
.header-item{
    text-align: center;
    margin-top: 220px;
   
    &__text{
        font-size: 70px;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.57px;
    }
    &__subtext{
        color: #c2c2c2;
        margin: 25px auto 0 auto;
        max-width: 700px;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06px;
    }
}